body {
  font-family: Courier;
}
#mainContainer {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

#universeContainer {
  min-width: 800px;
}

.cell {
  float: left;
  width: 15px;
  height: 15px;
  border: solid 1px gray;
  border-radius: 8px;
}

.row {
  float: left;
  width: 100%;
}

.alive {
  background-color: black;
}
